$color-primary-image: #03062f;
$color-secondary-image: #d13531;
$btn-primary: #030f3f;
$btn-border-primary: #2b83ea;

$btn-secondary-light: #fff;
$btn-sec-text-light: #528ff0;
$leftText-border: #58c19c;
$colortextPg: #4f5659;
$colorGreenLight: #00ba74;

$textFontLight: 14px;
